{{ item.key }}: {
{% for k, v in item.value | dictsort %}
{% if k != "state" %}
{% if v == "true" or v == "false" or v | string is match("\d+$") %}
  {{ k }}: {{ v }},
{% else %}
  {{ k }}: "{{ v }}",
{% endif %}
{% endif %}
{% endfor %}
}
